<h2>All products</h2>
<hr>

{{#each products}}
<h3>{{{this.title}}}</h3>
<p>Description: {{{this.description}}}</p>
<p>Thumbnail: {{{this.humbnail}}}</p>
<p>Code: {{{this.code}}}</p>
<p>Status: {{{this.status}}}</p>
<p>Category: {{{this.category}}}</p>
<p>Stock: {{{this.stock}}}</p>
<hr>
{{/each}}